
.posts {
  margin: 0;
  padding: 0 20px;
  border-bottom: 1px solid #252525;
}

.posts .post {
  border-bottom: thin solid #252525;
}

.post-header {
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  padding: 50px 0;
  text-align: center;
  font-weight: 300;
}

.post-header h2 {
  margin-bottom: 40px;
}

.post-content {
  padding: 40px 20px;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: 0.375em;
}

.posts .post .post-summary {
  color: #999;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 300;
}

a.post-link .post-title {
  color: $white;
}

a.post-link:hover .post-title {
  color: $white;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  /*font-weight: 300;*/
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-size: $post-meta-font-size;
}

.post-meta a {
 color: #7a7a7a;
 background: none;
}

.post-category{
  padding: 0;
}


.post-category a{
  color: $mid-gray;
}

.post-meta a:hover {
  text-decoration: underline;
}

.related-post-title {
  border-bottom: thin solid #252525;
}
