
.posts {
  margin: 0;
  border-bottom: 1px solid #eaeaea;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.post-header {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 50px 0;
  text-align: center;
}

.post-header h2 {
  margin-bottom: 40px;
}

.post-content {
  padding-top: 40px;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .75em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 500;
}

a.post-link .post-title {
  color: #333;
}

a.post-link:hover .post-title {
  color: $orange;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  /*font-weight: 300;*/
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
}

.post-meta a {
 color: $orange;
 background: none;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
